anyio==3.5.0
asgiref==3.5.0

fastapi==0.109.1

h11==0.13.0
httptools==0.3.0
idna==3.3

pydantic==1.9.0

python-dotenv==0.19.2

sniffio==1.2.0
starlette==0.17.1

typing_extensions==4.1.1
uvicorn==0.17.5
uvloop==0.16.0

watchgod==0.7
websockets==10.2
zipp==3.7.0

SQLAlchemy==1.4.34
psycopg2==2.9.3
greenlet==1.1.2
